/* TABLET LANDSCAPE RESOLUTION */
@media screen and (max-width: 1024px){
  
  nav {
    padding: 3em 4em;
  }

  #wrapper .container {
    position: absolute;
    top: 47%;
    width: 70%;
  }

  .success-container {
    width: 50%;
  }

  .box {
    width: 70%;
  }
}

/* TABLET RESOLUTION */
@media screen and (max-width: 768px){

}

@media screen and (max-width: 720px){
  #wrapper .container {
    position: absolute;
    top: 47%;
    width: 80%;
  }

  .success-container {
    width: 60%;
  }

  .box {
    width: 80%;
  }
}

/* GOOGLE SAMPLE */
@media screen and (max-width: 616px){
  nav {
    padding: 3em 1em;
  }

  .w-card {
    padding: var(--card-padding-m);
  }

  .intro-buttons .btn {
    padding: 1.1rem 1rem;
  }
}

/* MOBILE RESOLUTION */

@media screen and (max-width: 480px)
{
  /* #landing Family */
  #landing {
    height: 53vh;
    width: 100%;
    background: url('../images/image-hero-mobile.jpg') no-repeat;
    background-size: cover;
  }

  #landing nav {
    padding: 2em 1em;
    z-index: 10;
  }
  
  #landing .canvas {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, rgb(0, 0, 0), rgba(102, 102, 102,.4), transparent);
    z-index: 9;
  }

  #landing .canvas.show {
    display: block;
  }

  #landing .canvas ul {
    background: white;
    width: 90%;
    margin: 20% auto;
    flex-direction: column;
    align-items: flex-start;
    border-radius: var(--card-border-m);
  }

  #landing .canvas ul li {
    padding: var(--card-padding-m);
    border-bottom: 1px solid rgba(102, 102, 102,.2);
    width: 100%;
  }

  #landing .canvas ul li:hover {
    background: rgba(102, 102, 102,.2);
  }

  #landing .canvas ul li a{
    color: #222;
    font-weight: 600;
    font-size: 1.2em;
  }

  .hamburger {
    display: block;
    z-index: 10;
  }

  .hamburger.hide {
    display: none;
  }

  .hamburger.show {
    display: block;
  }
  
  .close-menu {
    position: fixed;
    right: 6%;
    z-index: 10;
  }

  .close-menu.show {
    display: block;
  }

  /* #Wrapper Section */
  #wrapper .container {
    position: absolute;
    width: 90%;
  }

  .w-card {
    background: white;
    padding: var(--card-padding-m);
    position: relative;
    border-radius: var(--card-border);
    margin-bottom: var(--card-margin);
  }
  
  .intro .mastercraft {
    position: absolute;
    top: -7%;
  }

  .intro-head {
    margin: 3em 0 2em;
  }

  .intro-buttons {
    padding-bottom: 1em;
  }

  .bookmark-btn {
    display: none;
  }

  .bookmark-icon-m {
    display: block;
  }

  .progress {
    padding-bottom: 2em;
  }

  .project-btn {
    padding: 1rem 3em !important;
  }

  .progress .top {
    display: block;
    text-align: center;
    margin-bottom: var(--card-margin);
  }
    
  .progress .stats {
    border-right: none;
    padding: 1.8em 3em;
    position: relative;
  }

  .stats::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    background: #cccccc;
    height: 1px;
  }

  .stats:last-child::before {
    width: 0;
  }
  
  .progress .stats:first-child {
    padding-left: 2em;
  }
  
  .progress .stats:last-child {
    border-bottom: none;
    padding-bottom: 0em;
  }

  /* Card family */
  .card-header {
    display: block;
    margin-bottom: 1.4em;
  }

  .card-footer {
    display: block;
    margin-top: 2em;
  }
  
  .card-footer .left{
    font-size: 2em;
    width: max-content;
  }

  .left {
    position: relative;
    display: flex;
  }

  .left span {
    color: var(--Dark-gray);
    font-size: 16px;
    display: block;
    margin: 10px 0 0 9px;
  }
  .card-btn {
    display: inline-block;
    margin-top: 2em;
  }

  /* success Family */
  .success-container {
    width: 90%;
  }

  /* Modal Family */
  .box {
    width: 90%;
  }

  .close {
    top: 2%;
    right: calc(15% - 1.5em);
  }
  
  .box .container {
    grid-template-areas: 
    "h h h h h h h h h h h h"
    "c c c c c c c c c c c c"
    "t f f f f f f f f f f f";
  }
  .head-lft {
    flex-direction: column;
    justify-content: flex-end;
  }

  .pledge {
    flex-direction: column;
    padding-top: 2em;
  }

  .pledge .right {
    display: flex;
    margin-top: 1.3em;
  }

}

@media screen and (max-width: 375px){

}

@media screen and (max-width: 360px){

}

@media screen and (max-width: 320px){
  body{
    font-size: 14px;
  }
    /* #Wrapper Section */
    #wrapper .container {
      position: absolute;
      width: 95%;
    }
}